{% extends 'base.html' %}

{% block content %}

{% for post in posts.all %}
<div class="row pt-3">
  <div class="col-2" onclick="window.location='{% url 'detail' post.pk %}';" style="cursor: pointer;">
    <img src="{{ post.icon.url }}" class="img-fluid" />
  </div>
  <div class="col-6" onclick="window.location='{% url 'detail' post.pk %}';" style="cursor: pointer;">
    <h1>{{ post.title }}</h1>
    <p>{{ post.summary }}</p>
  </div>
  <div class="col-4">
    <a href="javascript:{document.getElementById('upvote{{ post.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ post.votes }}</button></a>
  </div>
</div>

<form id="upvote{{ post.pk }}" method="POST" action="{% url 'upvote' post.pk %}">
  {% csrf_token %}
  <input type="hidden">
</form>
{% endfor %}

{% endblock %}
